---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import pagina from '../assets/projects/web.jpg'
import poster from '../assets/projects/poster.jpg'
import revista from '../assets/projects/revista.jpg'
import japan from '../assets/projects/japanese.jpg'
import choco from '../assets/projects/choco.jpg'

import JuanProfileImg from '../assets/projects/juanborrero.jpg'
---

<Layout title="Proyectos - Juan Borrero">
  <section>
    <h1>Proyectos</h1>
    <p>Estos son algunos de los proyectos en los que he trabajado.</p>
    <ul role="list">
      <Card
          title="Revista de Venus"
          image={revista}
          href="https://www.behance.net/gallery/179763757/Revista-Venus"
        />
        <Card
          title="Poster de Silent Hill"
          image={poster}
          href="https://www.behance.net/gallery/179766499/Concepto-poster-Silent-Hill"
        />
        <Card
          title="Diseño de Portafolio"
          image={pagina}
          href="https://www.behance.net/gallery/161188549/Portfolio-Design"
        />
        <Card
          title="Japanese Street Poster"
          image={japan}
          href="https://www.behance.net/gallery/181305745/Japanese-street-poster"
        />
        <Card
          title="Chocolicious Landing Page"
          image={choco}
          href="https://www.behance.net/gallery/181383799/Chocoliciuos"
        />
    </ul>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block: 2rem 4rem;
    min-height: 100vh;
  }

  section h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
  }

  section p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 2rem;
  }
</style>
