---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	description: string;
	image: string;
	href: string;
}
const { href, title, description, image } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		{image && <Image src={image} alt={title} quality="mid" />}
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>{description}</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		border-radius: 8px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		background-position: 100%;
		transition: background-position 0.2s ease;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) > a {
		opacity: 0.8;
	}
	.link-card:is(:hover, :focus-within) > a > h2 > span {
		transform: translateX(0.5rem);	
	}

	.link-card > a {
		opacity: 1;
		padding: 1.5rem;
		width: 100%;
		color: white;
		background-color: #23262d;
		border-radius: 8px;
		line-height: 1.4;
		text-decoration: none;
		outline: 3px solid transparent;
		transition: outline 0.2s ease-in, opacity 0.15s ease-in-out;
	}
	.link-card > a:focus-visible {
		outline: 3px solid hsl(var(--accent-light));
	}

	img {
		width: 100%;
		aspect-ratio: 1 / 1;
		max-height: 15rem;
		height: auto;
		border-radius: 5px;
		object-fit: cover;
		object-position: top center;
	}

	h2 {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin: 0;
		font-size: 1.25rem;
	}
	h2 span {
		transition:	transform 0.2s ease-in-out;
	}

	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
